  <!-- prueba de audio y video -->
    <!-- ........................................................................................................................ ............................................................................ -->

    <br>
    <br>
    <div class="container">
      <div class="row">
        <div class="col-md-2">
          <img src="/assets/img/logo.png" style="width: auto; height: 150px">
        </div>
        <div class="col-md-10">
          <h1><p class="text-center">TRANSCRIPCIÓN DE AUDIO Y VIDEO</p></h1>
        </div>
      </div>
    </div> <!-- del conteiner HEAD -->
    <br><br>

    <div class="container">

      <!-- PANEL de DETALLES GENERALES -->
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Detalles Generales</h3>
        </div>
        <div class="panel-body">
          
          <div class="row">
            <div class="col-md-4">
              <div class="input-group">
                <span class="input-group-addon">Fiscalía</span>
                <input type="text" class="form-control" placeholder="Buscar Fiscalía" aria-label="Amount (to the nearest dollar)" #fiscalia value="{{selectedFiscalia.codigo}}" readonly>
                <div class="input-group-btn" data-toggle="modal" data-target="#modalBuscarFiscalia"> <!-- data-toggle="modal" data-target="#modalBuscarOficio" -->
                  <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="input-group">
                <span class="input-group-addon">Carpeta Fiscal</span>
                <input type="text" class="form-control" placeholder="Buscar Carpeta Fiscal" aria-label="Amount (to the nearest dollar)" #carpetaFiscal value="{{selectedCarpetaFiscal.codigo}}" readonly>
                <div class="input-group-btn" data-toggle="modal" data-target="#modalBuscarCarpetaFiscal">
                  <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                </div>
              </div>
            </div>

          </div> <!-- div de la primera fila -->
          <br>
          <div class="row">
            <div class="col-md-8">
              <div class="input-group">
                <span class="input-group-addon">Documento que autoriza Transcripción</span>
                <input type="text" class="form-control" placeholder="Buscar Oficio" aria-label="Amount (to the nearest dollar)" #oficioTranscripcion readonly>
                <div class="input-group-btn" data-toggle="modal" data-target="#modalBuscarOficio">
                  <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                </div>
              </div>
            </div>
          </div> <!-- div de la primera fila -->


        </div> <!-- div body de panel -->
      </div> <!-- div del panel -->

      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Especificaciones</h3>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-4">
              <div class="input-group">
                <span class="input-group-addon">Tipo de Archivo</span>
                <select #tipoAudio class="form-control" title="tipoAudio">
                  <option *ngFor="let tipoAudio of tiposAudio">{{tipoAudio}}</option>
                </select>
              </div>
            </div>

            <div class="col-md-4">
              <div class="input-group">
                <span class="input-group-addon">Duración</span>
                <input type="text" class="form-control" placeholder="-" aria-label="Amount (to the nearest dollar)" #duracionAudio>
              </div>
            </div>

            <div class="col-md-4">
              <div class="input-group">
                <span class="input-group-addon">Denominación</span>
                <input type="text" class="form-control" placeholder="-" aria-label="Amount (to the nearest dollar)" #denominacionAudio>
              </div>
            </div>
          </div> <!-- div de la segunda fila -->

          <br>
          <div class="row">
            <div class="col-md-4">
              <div class="input-group">
                <span class="input-group-addon">Voces Masculinas (VM)</span>
                <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)" #vocesMasculinas value="{{vozMasculina.toString()}}" readonly>
                <div class="input-group-btn"> <!-- data-toggle="modal" data-target="#modalBuscarOficio" -->
                  <button type="button" class="btn btn-danger" (click)="quitarVM()"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span></button>
                  <button type="button" class="btn btn-success" (click)="agregarVM()"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="input-group">
                <span class="input-group-addon">Voces Femeninas (VF)</span>
                <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)" #vocesFemeninas value="{{vozFemenina.toString()}}" readonly>
                  <div class="input-group-btn"> <!-- data-toggle="modal" data-target="#modalBuscarOficio" -->
                  <button type="button" class="btn btn-danger" (click)="quitarVF()"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span></button>
                  <button type="button" class="btn btn-success" (click)="agregarVF()"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="input-group">
                <span class="input-group-addon">Voz Inteligible</span>
                <input type="text" class="form-control" placeholder="-" aria-label="Amount (to the nearest dollar)" #vozInteligible value="(...)" readonly>
              </div>
            </div>
          </div> <!-- div de la tercera fila -->
        </div> <!-- div body de panel -->
      </div> <!-- div del panel -->

      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Transcripción</h3>
        </div>
        <div class="panel-body">
        </div> <!-- div body de panel -->
            <table class="table table-hover table-bordered table-condensed">
              <thead>
              <tr>
                <th>Voz</th>
                <th>descripción</th>
                <th><p>-</p></th>
              </tr>
              </thead>
              
              <tbody>
                <tr *ngFor="let fila of filasAV">
                  <td *ngFor="let celda of fila">{{celda}}</td>
                  <td align="center"><button (click)="borrarFilaAV(fila)" type="button" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span></button></td>
                </tr>
                <tr>
                  <td>
                    <select #prueba1 class="form-control">
                    <option *ngFor="let voz1 of voces">{{voz1}}</option></select>
                  </td>
                  <td>
                    <input #entradaDescripcion class="form-control">
                  </td>
                  <td>
                    <button type="button" class="btn btn-success btn-sm" (click)="insertarFilaAV(prueba1.value, entradaDescripcion.value)"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
                    <button type="button" class="btn btn-danger btn-sm" (click)="borrarUltimaFilaAV()"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                  </td>
                </tr>
              </tbody>
            </table>
      </div> <!-- div del panel -->

          <br><br>
          <div class="row">
            <div class="col-md-1 col-md-offset-5">
              <button type="button" class="btn btn-primary btn-lg" >Enviar</button>
            </div>

            <div class="col-md-1">
              <button type="button" class="btn btn-default btn-lg">Cancelar</button>
            </div>
          </div>

      <br>


    </div> <!-- div del container Transcripcion de AV-->




<!-- ..................................................MODALs............................................................ -->

<!-- Modal Fiscalia-->
<div class="modal fade" id="modalBuscarFiscalia" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Buscar Fiscalía</h4>
      </div>
      <div class="modal-body">

        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Criterio de Búsqueda</h3>
          </div>
          <div class="panel-body">
            <div class="input-group">
              <span class="input-group-addon">Fiscalía</span>
              <input type="text" class="form-control" placeholder="-" aria-label="Amount (to the nearest dollar)" #fiscaliaBuscar>
            </div>
            <br>
            <div class="row">
              <div class="col-md-1 col-md-offset-5">
                <button type="button" class="btn btn-primary" >Buscar</button>
              </div>
              <div class="col-md-1">
                <button type="button" class="btn btn-default" >Limpiar</button>
              </div>
            </div>
          </div>
        </div>
        <br>

        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Resultado</h3>
          </div>
          <div class="panel-body">
            <p>Seleccione una Fiscalía: </p><p>selected data {{selectedFiscalia.codigo}}</p>
          </div>
          <div class="table-responsive">
          <table class="table table-hover table-bordered">
            <thead>
              <tr>
                <th>
                  Codigo
                </th>
                <th>
                  Descripcion
                </th>
              </tr>
            </thead>

            <tbody>
              <tr *ngFor="let fiscalia of fiscalias; let i = index" (click)="setClickedRowFiscalia(i)" [class.active]="i == selectedRowFiscalia" (click)="setDataFiscalia(fiscalia)">
                <td>
                  {{fiscalia.codigo}}
                </td>
                <td>
                  {{fiscalia.descripcion}}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        </div>
        
        

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Aceptar</button>
        <button type="button" class="btn btn-default" (click)="borrarSelectedFiscalia()" data-dismiss="modal">Cancelar</button>
      </div>
    </div>
  </div>
</div>




<!-- Modal Carpeta Fiscal-->
<div class="modal fade" id="modalBuscarCarpetaFiscal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Buscar Carpeta Fiscal</h4>
      </div>
      <div class="modal-body">


        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Criterios de Búsqueda</h3>
          </div>
          <div class="panel-body">
            <div class="input-group">
              <span class="input-group-addon">Carpeta Fiscal</span>
              <input type="text" class="form-control" placeholder="-" aria-label="Amount (to the nearest dollar)" #carpetaFiscalBuscarNombre>
            </div>
            <br>
            <div class="input-group">
              <span class="input-group-addon">Delito</span>
              <input type="text" class="form-control" placeholder="-" aria-label="Amount (to the nearest dollar)" #carpetaFiscalBuscarDelito>
            </div>
            <br>
            <div class="input-group">
              <span class="input-group-addon">Estado de Proceso</span>
              <input type="text" class="form-control" placeholder="- En bd puede tener en qué estado de proceso está" aria-label="Amount (to the nearest dollar)" #carpetaFiscalBuscarDelito>
            </div>
            <br>
            <div class="row">
              <div class="col-md-1 col-md-offset-5">
                <button type="button" class="btn btn-primary" >Buscar</button>
              </div>
              <div class="col-md-1">
                <button type="button" class="btn btn-default" >Limpiar</button>
              </div>
            </div>
          </div>
        </div>


        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Resultado</h3>
          </div>
          <div class="panel-body">
            <p>Seleccione una Carpeta Fiscal</p>
          </div>
          <div class="table-responsive">
            <table class="table table-hover table-bordered">
              <thead>
                <tr>
                  <th>
                    Codigo
                  </th>
                  <th>
                    Descripcion
                  </th>
                </tr>
              </thead>

              <tbody>
                <tr *ngFor="let carpetaFiscal of carpetasFiscales; let i = index" (click)="setClickedRowCarpetaFiscal(i)" [class.active]="i == selectedRowCarpetaFiscal" (click)="setDataCarpetaFiscal(carpetaFiscal)">
                  <td>
                    {{carpetaFiscal.codigo}}
                  </td>
                  <td>
                    {{carpetaFiscal.descripcion}}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Aceptar</button>
        <button type="button" class="btn btn-default" (click)="borrarSelectedCarpetaFiscal()" data-dismiss="modal">Cancelar</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal Oficio-->
<div class="modal fade" id="modalBuscarOficio" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Buscar Oficio</h4>
      </div>
      <div class="modal-body">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Criterios de Búsqueda</h3>
          </div>
          <div class="panel-body">
            <div class="row">
              <div class="col-md-6">
                <div class="input-group">
                  <span class="input-group-addon">Número</span>
                  <input type="text" class="form-control" placeholder="Número Correlativo del Oficio" aria-label="Amount (to the nearest dollar)" #oficioBuscarNumero>
                </div>                
              </div>
              <div class="col-md-6">
                <div class="input-group">
                  <span class="input-group-addon">Año</span>
                  <input type="text" class="form-control" placeholder="Año que se generó el Oficio" aria-label="Amount (to the nearest dollar)" #oficioBuscarAnho>
                </div>                
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-md-6">
                <div class="input-group">
                  <span class="input-group-addon">Fiscalia</span>
                  <input type="text" class="form-control" placeholder="Fiscalía de donde proviene el Oficio" aria-label="Amount (to the nearest dollar)" #oficioBuscarFiscalia>
                </div>                
              </div>
              <div class="col-md-6">
                <div class="input-group">
                  <span class="input-group-addon">Despacho</span>
                  <input type="text" class="form-control" placeholder="Despacho de donde proviene el Oficio" aria-label="Amount (to the nearest dollar)" #oficioBuscarDespacho>
                </div>                
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-md-1 col-md-offset-5">
                <button type="button" class="btn btn-primary" >Buscar</button>
              </div>
              <div class="col-md-1">
                <button type="button" class="btn btn-default" >Limpiar</button>
              </div>
            </div>
          </div>
        </div>

        <br>

        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Resultado</h3>
          </div>
          <div class="panel-body">
          </div>
          <div class="table-responsive">
            <table class="table table-hover table-bordered">
              <thead>
                <tr>
                  <th>
                    Codigo
                  </th>
                  <th>
                    Descripcion
                  </th>
                </tr>
              </thead>

              <tbody>
                <tr *ngFor="let oficio of oficios; let i = index" (click)="setClickedRowOficio(i)" [class.active]="i == selectedRowOficio" (click)="setDataOficio(oficio)">
                  <td>
                    {{oficio.codigo}}
                  </td>
                  <td>
                    {{oficio.descripcion}}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Aceptar</button>
        <button type="button" class="btn btn-default" (click)="borrarSelectedOficio()" data-dismiss="modal">Cancelar</button>
      </div>
    </div>
  </div>
</div>