<script src="node_modules/chart.js/src/chart.js"></script>
<!-- Codigo de Jaime -->
<br>
<br>
<div class="container">
  <div class="row">
    <div class="col-md-2">
      <img src="/assets/img/logo.png" style="width: auto; height: 150px">
    </div>
    <div class="col-md-10">
      <h1><p class="text-center">GENERAR REPORTE DE TRANSCRIPCIONES DE AV</p></h1>
    </div>
  </div>
</div>
<br><br><br>
<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">CRITERIOS DE FILTRO</h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-4">
          <select #entrada1 class="form-control" title="Seleccione un Criterio">
            <option *ngFor="let criterio1 of criterios1">{{criterio1.nombrecriterio1}}</option>
          </select>
        </div>
        <div class="col-md-4">
          <select #entrada2 class="form-control" title="Seleccione un Criterio">
            <option *ngFor="let criterio2 of criterios2">{{criterio2.nombrecriterio2}}</option>
          </select>
          <br>
          <div class="input-group">
            <span class="input-group-addon">Desde</span>
            <!--podría ser input de fecha y hora-->
            <input type="date" #fechaHoraDesde name="input" ng-model="example.value" placeholder="yyy-MM-ddTHH" min="2001-01-01" class="form-control" aria-describedby="sizing-addon2" />
          </div>
          <br>
          <div class="input-group">
            <span class="input-group-addon">Hasta</span>
            <!--podría ser input de fecha y hora-->
            <input type="date" #fechaHoraHasta name="input" ng-model="example.value" placeholder="yyy-MM-ddTHH" min="2001-01-01" class="form-control" aria-describedby="sizing-addon2" />
          </div>


        </div>
        <div class="col-md-4">
        </div>
      </div> <!-- De la primera FILA -->
      <br>
      <div class="row">
        <div class="col-md-4">

        </div>
        <div class="col-md-4">

        </div>
        <div class="col-md-4">

        </div>
      </div>

      <br>
      <p>Criterio Seleccionado: {{criterioSeleccionado}}, Fecha desde: {{fechaDesde}}, Fecha Hasta: {{fechaHasta}}, </p>

      <!--<p>{{newDate2 | date: 'dd'}}/{{newDate2 | date:'MM'}}/{{newDate2 | date: 'yyyy'}}</p>-->
      <p>new date 2: {{newDate2}}</p>
      <p>fechaDesdeDesagregada: {{fechaDesdeDesagregada}}</p>      
      <p>diferencia de años = {{difAno}}</p>
        <ul>
          <li *ngFor="let label of labels">{{label}}</li>
          <li *ngFor="let fechaDesdeDes of fechaDesdeDesagregada">{{fechaDesdeDes}}</li>

          <li *ngFor="let lineChartLabel2 of lineChartLabels2">{{lineChartLabel2}}</li>
        </ul>              
      <br>
      <div class="row">
        <div class="col-md-1 col-md-offset-5">
          <button type="button" class="btn btn-primary btn-lg" (click)="buscarDatos(entrada1.value, entrada2.value, fechaHoraDesde.value, fechaHoraHasta.value)">Enviar</button>
        </div>
        <div class="col-md-1">
          <button type="button" class="btn btn-default btn-lg">Cancelar</button>
        </div>        
      </div>      
    </div>
  </div>
</div>


<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">RESULTADO</h3>
    </div>
    <div class="panel-body">

      <div class="row">
        <div class="col-md-5 col-md-offset-1">
          <div style="display: block;">
          <canvas baseChart width="400" height="400"
                      [datasets]="lineChartData2"
                      [labels]="lineChartLabels2"
                      [options]="lineChartOptions"
                      [colors]="lineChartColors"
                      [legend]="lineChartLegend"
                      [chartType]="lineChartType"
                      (chartHover)="chartHovered($event)"
                      (chartClick)="chartClicked($event)"></canvas>
          </div>
        </div>
        <div class="col-md-5"> <!--  style="margin-bottom: 10px" -->
          <table class="table table-responsive">
            <tr>
              <th *ngFor="let label of lineChartLabels2">{{label}}</th>
            </tr>
            <tr *ngFor="let d of lineChartData2">
              <td *ngFor="let label of lineChartLabels2; let j=index">{{d && d.data[j]}}</td>
            </tr>
          </table>
          <button (click)="randomize()">CLICK</button>
        </div>
      </div>

    </div>
  </div>
</div>




